.auto-form
{
  width:auto !important;
  display: inline-block !important;
}

.danger {
    color: #DA4453 !important;
}
.success {
    color: #8cc152 !important;
}
.warning {
    color: #f6bb42 !important;
}

.text-right {
    text-align: right !important;
}

a.no-deco {
    color:#000000 !important;
    text-decoration:none;
}

.left {
    text-align: left !important;
}

// RATE
.rating {
    font-size: 0;
}

.rating input {
    display: none !important;
}

.rating label {
    font-size: 25px;
    color: #F5D76E;
}

.rating input:checked ~ label {
    color: #E8E6E5;
}
.rating:hover label{
    color: #F5D76E !important;
}

.rating label:hover ~ label{
    color: #E8E6E5 !important;
}

.rating-full {
    color: #F5D76E !important;
}
.rating-empty {
    color: #E8E6E5 !important;
}


.icon {
    color: #BDC3C7 !important;
}
