{% extends "::base.html.twig" %}

{% block title %}Changer de mot de passe - {{ parent() }} {% endblock %}


{% block body %}
    
    <div class="container-fluid">
        
        <div class="col-xs-offset-2 col-xs-8">
            
            <h1>Changer de mot de passe</h1>
            <br/>
            
            {% if success is defined %}
                <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 text-center">
                            <div class="alert alert-success">
                                Mot de passe changé avec succès !
                            </div>
                            
                            <a href="{{path('privateprofile', { 'userid': app.user.id }) }}">Retourner sur mon profil.</a>
                        </div>
                    </div>
            {% else %}
                <form method="POST" action="{{path('changepassword')}}">
                    {% if error is defined %}
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 text-center">
                                <div class="alert alert-warning">
                                    <b>Erreur : </b><br />
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3 text-center">
                            <label for="oldpass">Ancien mot de passe :</label><br/>
                            <input type="password" name="oldpass" class="form-control auto-form">
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row text-center">
                        <div class="col-xs-3 col-xs-offset-3">
                            <label for="newpass">Nouveau mot de passe :</label><br/>
                            <input type="password" name="newpass" class="form-control auto-form">
                        </div>
                        <div class="col-xs-3">
                            <label for="newpassverif">Vérification :</label><br/>
                            <input type="password" name="newpassverif" class="form-control auto-form">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4 text-center">
                            <input type="submit" value="Valider" class="btn">
                        <div>
                    </div>
                </form>
            {% endif %}
                
                
        </div>
                
        
       
    </div>
{% endblock %}